

.login-wrapper {
  display: block;
  background-color: white;
  margin: auto;
  margin-top: 10%;
  width: 40%;
  text-align: center;
}

.theme {
  margin: 20% 0 10%;
}

.theme p {
  font-size: 2rem !important;
}

.logo {
  color: #ff9800;
  margin: 5% 0 15%;
}

.logo p {
  font-size: 5.0rem !important;
}

.loginForm {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
}

.loginForm TextField {
  font-size: 2.0rem !important;
}

.password {
  padding: 5% 0 10%;
}

button {
  display: block;
  margin-top: 5%;
  margin: auto;
  margin-bottom: 5%;
}

.loginButton {
  width: 80%;
  align-items: center;
  border-style: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
  background-color: #ff9800;
}

.signUpButton {
  width: 80%;
  align-items: center;
  border-style: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
  background-color: gray;
}
