.myPageContainer {
  padding-left: 12%;
  text-align: center;
}

.mailAddress {
  display: block;
  width: 60%;
  align-items: center;
  margin-top: 5%;
  margin-left: 20%;
  padding: 3% 5%;
  border: solid;
  margin-bottom: 10%;
}

p {
  font-size: 2.4rem !important;
  text-align: center;
}

.userInfo {
  padding-top: 10%;
  display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 60%;
}

.userIcon {
  display: block;
  width: 25%;
}

.userIcon img {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid;
}
