.mypageMenu {
  display: block;
  background-color: #ffb74d;
  float: left;
  margin-top: 80px;
  width: 12%;
  height: 100%;
}

.mypageMenu a{
  display: block;
  font-size: 1.8rem;
  padding: 30px 16px;
  transition: .5s;
}

.mypageMenu {
  text-align: center;
}

.mypageMenu a:hover {
  opacity: .5;
}
