

.requestCard {
  display: flex;
  width: 70%;
  margin-left: 10%;
  border: solid #ff9800;
}

.icon {
  padding: 20px;
  width: 25%;
}

.icon img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.requestText {
  width: 70%;
}

.requestTitle {
  width: 100%;
  text-align: center;
}

.requestMemo {
  text-align: center;
  width: 100%;
}

.requestLimit {
  color: #ff9800;
  width: 100%;
  text-align: center;
}
