html {
  font-family: 'Noto Sans JP', sans-serif;
  font: 100% / 1.5 'Noto Sans JP', sans-serif;
  background: #f9fbfe;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  cursor: pointer;
}

h1 {
  font-size: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
}

p {
  text-align:center;
}


.container {
  margin: 0 auto;
  text-align: center;
}
