.memo {
  width: 80%;
  margin-left: 10%;
}

textarea {
  width: 100%;
  border-color: #ffb74d;
  border-radius: 10px;
}

.button-wrapper {
  text-align: center;
}

button {
  margin-top: 5%;
  align-items: center;
  border-style: none;
  padding: 10px 30px;
  width: 40%;
  border-radius: 10px;
  font-size: 1.4em;
  color: #fff;
  background-color: #ff9800;
}
